{% extends "base.html" %}

{% load static %}

{% block title %}Read Later{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/read-later.css' %}">
{% endblock %}

{% block content %}
    <section id="read-later">
        <h2>Your Read Later List</h2>
        {% if read_later_posts %}
            <ul>
            {% for post in read_later_posts %}
                <li>
                    <article class="post">
                        <a href="{% url 'single-post-page' post.slug %}">
                            <h3>{{ post.title }}</h3>
                            <img src="{{ post.image.url }}" alt="{{ post.title }}">
                            <p>{{ post.excerpt }}</p>
                        </a>
                        <form action="{% url "read-later" %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="remove" value="true">
                            <button>Remove from Read Later</button>
                        </form>
                    </article>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You haven't added any posts to your Read Later list yet.</p>
        {% endif %}
    </section>
{% endblock %}
